include ../mixins/product-item.pug

    +product-item(
        {
        button: '15% Off',
        heart: './assets/imgs/product/heart.png',
        background: './assets/imgs/product/apricot.png',
        title:'Available(in stock)',
        content:'Hazelnuts filbert nut',
        price:'$12 $15',
        })


                