include ../mixins/product-item.pug
section.product__type
    +product-item(
        {
        button: '15% Off',
        heart: './assets/imgs/product/heart.png',
        background: './assets/imgs/product/apricot.png',
        title:'Available(in stock)',
        content:'Fresh organic apricot',
        origin:'$12',
        fake:'$15',
        image:'./assets/imgs/product/price.png',
        car:'./assets/imgs/product/car.svg',
        })
    +product-item(
        {
        button: '15% Off',
        heart: './assets/imgs/product/heart.png',
        background: './assets/imgs/product/cucumber.png',
        title:'Available(in stock)',
        content:'Cucumber',
        origin:'$12',
        fake:'$15',
        image:'./assets/imgs/product/price.png',
        car:'./assets/imgs/product/car.svg',
        })
    +product-item(
        {
        button: '15% Off',
        heart: './assets/imgs/product/heart.png',
        background: './assets/imgs/product/nut.png',
        title:'Available(in stock)',
        content:'Hazelnuts filbert nut',
        origin:'$12',
        fake:'$15',
        image:'./assets/imgs/product/price.png',
        car:'./assets/imgs/product/car.svg',
        })
    +product-item(
        {
        button: '15% Off',
        heart: './assets/imgs/product/heart.png',
        background: './assets/imgs/product/broccoli.png',
        title:'Available(in stock)',
        content:'Raw Broccoli',
        origin:'$12',
        fake:'$15',
        image:'./assets/imgs/product/price.png',
        car:'./assets/imgs/product/car.svg',
        })
    +product-item(
        {
        button: '15% Off',
        heart: './assets/imgs/product/heart.png',
        background: './assets/imgs/product/quince.png',
        title:'Available(in stock)',
        content:'Organic Quince',
        origin:'$12',
        fake:'$15',
        image:'./assets/imgs/product/price.png',
        car:'./assets/imgs/product/car.svg',
        })
