doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="./assets/css/app.css")
        link(rel="stylesheet" href="./assets/css/vendors.min.css")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        img(src="./assets/imgs/ico.png", alt="")
        include ./components/slider.pug
        .container
            include ./components/components.pug
        .container
            include ./components/product.pug
        script(src="./assets/js/vendors.min.js")
        script(src="./assets/js/app.js")